{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Root Vegetable Classification and Recognition</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{%static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{%static 'assets/css/noscript.css' %}" /></noscript>
		<link rel="icon" href="{%static 'images/logo1.png' %}">
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Root Vegetable Classification and Recognition</a></h1>
						
					</header>

				

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Root Vegetable Classification</h2>
							<button class="bttn" ><a href="{% url 'result' %}">Test</a></button>
						</div>
					</section>
				

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>