{% load static %}<!DOCTYPE HTML>

<html>
	<head>
		<title>Root Vegetable Classification</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{%static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{%static 'assets/css/noscript.css' %}" /></noscript>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="icon" href="{%static 'images/logo1.png' %}">
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Root Vegetable Classification and Recognition</a></h1>
						
					</header>

				
                    <center>
                        <div  id="form" style="padding-top: 10%;">
                            <form method="post" enctype="multipart/form-data" action="predictImage">
                                {% csrf_token %}
                                <div class="test-centre">
                                    <label for="fname">Upload Image File Here:</label>
                                    <div id="selectedBanner"></div>
                                        <div class="form-group">
                                            <label for="pwd">Image:</label>
                                            <input type="file" class="form-control" name="image" id="img" />
                                        </div>
                                    <input name = "filename" type="hidden" id="myField" value="" />
                                    <br><br>
                                    <input id="submit" class="bttn" name="submit" type="submit" value="Predict" ></div>
                                </div>  
                            </form>
                            <div id  = 'prediction' class="text-white text-center overlay">
                                <div class="text-center">
                                    <h2>{{predictedLabel}}</h2> 
                                    <img src ={{filePathName}} style="width:auto; ">
                                    <!-- {{filePathName}} -->
                                </div>
                            </div>
                            <script>
								let submit_button = document.querySelector("#submit");
								let upload = document.querySelector("#img");
								submit_button.style.display = 'none';

								upload.addEventListener('click', async function(){
									submit_button.style.display = 'block';
								})

                                var selDiv = "";
                                var storedFiles = [];
                                $(document).ready(function () {
                                    $("#img").on("change", handleFileSelect);
                                    selDiv = $("#selectedBanner");
                                });
                            
                                function handleFileSelect(e) {
                                    var files = e.target.files;
                                    var filesArr = Array.prototype.slice.call(files);
                                    filesArr.forEach(function (f) {
                                    if (!f.type.match("image.*")) {
                                        return;
                                    }
                                    storedFiles.push(f);
                            
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        var html =
                                        '<img src="' +
                                        e.target.result +
                                        "\" data-file='" +
                                        f.name +
                                        "alt='Category Image' height='200px' width='200px'>";
                                        selDiv.html(html);
                                        document.getElementById('myField').value = e.target.result;
                                    };
                                    reader.readAsDataURL(f);
                                    });
                                }
                                </script>

                        </div>
                       
                    </center>
			
	

				
					</section>


			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>